
.cart-floating{
	position: absolute;
	color:rgb(37, 34, 34);
	top:68rem;
	left:40vw;
}
.cart-floating2{
	display:none;
}
.floating-div{
	background-color:white;
	width: 4rem;
	height: 4rem;
	border-radius:4rem;
	margin-bottom: 1vw;
}
.img-heading{
	font-size:1.6rem;
	color:grey;
	margin: 0;
	padding:0;
}

.img-p{
	font-size:1.6rem;
	color:rgb(51, 49, 49);
	margin: 0;
	margin-top:1rem;
	padding:0;
}
.img-p2{
	font-size:1.2rem;
	color:grey;
	margin: 0;
	padding:0;
	margin-top:3rem;
}
.img-heading2{
	font-size:3rem;
	color:rgb(48, 46, 46);
	margin: 0;
	padding:0;
	text-decoration: none;
}
.ss-h3{
	margin:0;
	padding:0;
	color:grey;
	font-size: 1.6rem;
	width:25vw;
	height:1.8rem;
	overflow: hidden;
}

.ss-h3:hover{
	color: #037362;
	padding-bottom:4px;
	text-decoration:underline;
}
.ss-p1{
	color: #037362;
	font-weight: 600;
	font-size: 1.4rem;
	margin:0;
	margin-top:.5rem;
	padding:0;
}
.cart-icon{
	font-size:2rem;
	margin:1rem;
}
.ss-p2{
	color:grey;
	padding:0;
	margin:0;
	font-size: 1.4rem;
	margin-bottom: 1rem;;
}
.bigDiv{
	display: flex;
    padding:2rem;
}

.divImg{
	width:13vw;
	height:20vh;
}
.hr{
	width:45vw;
    height:1px;
    margin-left:2rem;
    background-color:rgb(218, 217, 217);
}
.ss{
	margin-left:2rem;
    box-sizing:border-box;
}
.cart-container-div{
	margin-right: 4vw;
	float:right;
}
@media(max-width:800px){
	.cart-container-div{
		display:none;
	}
}
.cart-container-clear{
	clear: both;
	margin-bottom: 1rem;
}
.cart-container{
	width:95vw;
	margin: 2.5vw;
	display:flex;
}
@media(max-width:800px){
	.cart-container{
		display:none;
	}
}
.cart-container-child1{
	width:49%;
	color:red;
	box-sizing: border-box;
}
.cart-container-child1-div{
	margin-top:2rem;
	width:43vw;
}
.cart-container-child1-img{
	width:100%;
}
.cart-container-child2{
	width:49%;
	box-sizing: border-box;
	height:400px;
}
.cart-container-midle{
	width:1px;
	background-color:rgb(151, 149, 149);
};

